<%- include('../partials/header') %>  

<script defer src="/javascripts/listshow.js"></script>

    <div class='container'>

      <h1><%= list.listName %></h1>

      <table id='ingredients-table' class='table table-sm'>
        <tr>
          <th class='delete-col'></th>
          <th class='ingredient-col'>Ingredient</th>
          <th class='section-col'>Section (<a href='/lists/<%= list._id %>'>Sort</a>)</th>
          <th class='amount-col'>Amount</th>
        </tr>
        <% list.listIngredients.forEach(i => { %>
          <tr>
            <td class='delete' data-list=<%= list._id %> data-ingredient=<%= i._id %>>X</td>
            <td class='ingredient'><%= i.ingredient.ingredientName %></td>
            <td class='ingredient-section'><input data-list=<%= list._id %> data-ingredient=<%= i.ingredient._id %> class='ingredientSection' type='text' value='<%= i.ingredient.section %>'></td>
            <td class='amount'><input data-list=<%= list._id %> data-ingredient=<%= i._id %> class='ingredientAmount' type='text' value='<%= i.amount %>'></td>
          </tr>
        <% }) %>
  
      </table>

      <form class='pin' action='/lists/<%= list._id %>/ingredient' method='POST'>
        <div class='row'>
          <div class='pin-40 text-center'>
            <input autocomplete="off" id='add-ingredient' required placeholder='Ingredient' type="text" name="ingredientName" autofocus>
          </div>
          <div class='pin-40 text-center'>
            <input autocomplete="off"  id='add-amount' required placeholder='Amount' type="text" name="amount">
          </div>
          <div class='pin-20 text-center'>
            <div data-list=<%= list._id %> id='add-button'>add</div>
          </div>          
        </div>
      </form>
    </div>
    

  </body>


</html>
