<%- include('../partials/header') %>  

<script defer src="/javascripts/listshow.js"></script>

    <div class='container-sm'>

      <h1 class='text-center'><%= list.listName %></h1>

      <table id='ingredients-table' class='table table-sm'>
        <tr>
          <th class='delete-col'></th>
          <th class='ingredients-col'>Ingredient</th>
          <th class='section-col'><a href='/lists/<%= list._id %>'>Section</a></th>
          <th class='amount-col'>Amount</th>
        </tr>
        <% list.listIngredients.forEach(i => { %>
          <tr>
            <td><i data-list=<%= list._id %> data-ingredient=<%= i._id %> class="fas fa-times delete"></i></td>
            <td class='ingredient'><%= i.ingredient.ingredientName %></td>
            <td class='ingredient-section'><input data-list=<%= list._id %> data-ingredient=<%= i.ingredient._id %> class='ingredientSection' type='text' value='<%= i.ingredient.section %>'></td>
            <td class='amount'><input data-list=<%= list._id %> data-ingredient=<%= i._id %> class='ingredientAmount' type='text' value='<%= i.amount %>'></td>
          </tr>
        <% }) %>
  
      </table>
    </div>
      <form class='pin-bottom' action='/lists/<%= list._id %>/ingredient' method='POST'>
        <div class='pin-45 text-center'>
          <input autocomplete="off" id='add-ingredient' required placeholder='Ingredient' type="text" name="ingredientName" autofocus>
        </div>
        <div class='pin-45 text-center'>
          <input autocomplete="off"  id='add-amount' required placeholder='Amount' type="text" name="amount">
        </div>
        <div class='pin-10 text-center'>
          <button type="submit"><i class="fas fa-plus"></i></button>
        </div>          
      </form>


    
    

  </body>


</html>
