<%- include('../partials/header') %>  

  <body>

    <h1>Staples</h1>
    <table>
      <% user.staples.forEach(s => { %>
        <tr>
          <td><%= s.ingredient.ingredientName %></td>
          <td><%= s.amount %></td>
        </tr>
      <% }) %>
    </table>
    <form action='/staples' method='POST'>
      <label>
        <input type="text" name="ingredientName">
        <input type="text" name="amount">
        <button type="submit">Add</button>
      </label>
    </form>
    
    <h1>Recipes</h1>
    <table>
      <% user.recipes.forEach(s => { %>
        <tr>
          <% console.log(s) %>
          <td><%= s.recipeName %></td>
        </tr>
      <% }) %>
    </table>
    <form action='recipes/' method='post'>
      <label>Recipe Name
        <input type='text' name='recipeName'>
      </label>
      <button type='submit'>New Recipe</button>
    </form>


    <h1>Lists</h1>
    <table>
      <% user.lists.forEach(s => { %>
        <tr>
          <td><%= s.listName %></td>
        </tr>
      <% }) %>
    </table>
    <a href='/lists/new'>New List</a>

  </body>


</html>
