<%- include('../partials/header') %>  

  <body>

    <div class='container-sm'>

      <h1 class='text-center'><%= recipe.recipeName %></h1>

      <table class='table table-sm'>
        <tr>
          <th class='delete-col'></th>
          <th>Ingredient</th>
          <th>Amount</th>
        </tr>
        <% ingredients.forEach(i => { %>
          <tr>
            <form action='/recipes/<%= recipe._id %>/ingredient/<%= i.ingredient._id %>?_method=DELETE' method='POST'>
              <td><button type='submit'><i class="fas fa-times"></i></button></td>
              <td><%= i.ingredient.ingredientName %></td>
              <td><%= i.amount %></td>
            </form>
          </tr>
        <% }) %>
      </table> 
    </div>

      <form class='pin-bottom' action='/recipes/<%= recipe._id %>/ingredient' method='POST'>
        <div class='pin-45 text-center'>
          <input autocomplete='off' required type="text" name="ingredientName" autofocus placeholder='ingredient' autofocus>
        </div>
        <div class='pin-45 text-center'>
          <input autocomplete='off' required type="text" name="amount" placeholder='amount'>
        </div>
        <div class='pin-10 text-center'>
          <button type="submit"><i class="fas fa-plus"></i></button>
        </div>          
      </form>

  

    

  </body>


</html>
